{% extends 'emails/layout.html.twig' %}

{% block subject %}Réinitialisation de votre mot de passe{% endblock %}

{% block preheader %}Cliquez sur le lien pour réinitialiser votre mot de passe UniServices.{% endblock %}

{% block body %}
    <h1>Réinitialisation de mot de passe</h1>

    <p>Bonjour <strong>{{ user.prenom }} {{ user.nom }}</strong>,</p>

    <p>
        Vous avez demandé la réinitialisation de votre mot de passe pour votre compte UniServices.
        Cliquez sur le bouton ci-dessous pour définir un nouveau mot de passe :
    </p>

    <p>
        <a href="{{ resetUrl }}" class="btn">Réinitialiser mon mot de passe</a>
    </p>

    <div class="alert">
        Ce lien est valide pendant <strong>24 heures</strong>.
        Après ce délai, vous devrez effectuer une nouvelle demande.
    </div>

    <hr class="divider">

    <p style="font-size:13px;color:#718096;">
        Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet email.
        Votre mot de passe ne sera pas modifié.
    </p>

    <p style="font-size:13px;color:#718096;">
        Si le bouton ne fonctionne pas, copiez-collez ce lien dans votre navigateur :<br>
        <a href="{{ resetUrl }}" style="word-break:break-all;">{{ resetUrl }}</a>
    </p>
{% endblock %}
